.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nunito', sans-serif;
  color: black;
  font-size: 60px;
  border-bottom: 3px solid rgb(206, 66, 66);
  cursor: default;
}