.container {
    background-color: rgb(206, 66, 66);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    height: 300px;
}

#cityName {
    margin-top: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 4%;
}

.infoTitle {
    font-family: 'Nunito', sans-serif;
    color: black;
    display: block;
}

.info {
    font-family: 'Nunito', sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid rgb(233, 133, 133);
    padding: 20px;
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {
    .info {
        display: flex;
        flex-direction: column;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .infoTitle {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #cityName {
        text-decoration: underline;
        text-decoration-color: rgb(233, 133, 133);
    }
    body {
        background-color: rgb(206, 66, 66);
    }
    .container {
        height: 600px;
    }
}