#searchBar {
    font-family: 'Nunito', sans-serif;
    height: 40px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 73px;
    margin-top: 5px;
}

#searchButton {
    background: transparent;
    font-family: 'Nunito', sans-serif;
    border: none;
    color: white;
    margin-left: 12px;
    outline: none;
}

#searchButton:hover {
    border-bottom: 3px solid white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media only screen and (max-width: 600px) {
    #searchBar {
        width: 150px;
        margin-bottom: 10px;
    }
    #searchButton {
        text-decoration: underline;
        text-decoration-color: rgb(206, 66, 66);
    }
}